<script type="text/javascript" language="javascript" src="js/client/lib/jquery.dataTables/jquery.dataTables.min.js"></script>
<style type="text/css">
    @import "js/client/lib/jquery.dataTables/css/demo_table_jui.css";
</style>

<h2>Instructor Administration</h2>

<p>Welcome <%= loginID %>!</p>

<h3>Students</h3>

<table id="student-table" class="display">
    <thead>
        <tr>
            <th>Roster ID
            <th>First Name
            <th>Last Name
            <th>Login ID
            <th>Password
            <th>Condition
        </tr>
    </thead>
    <tbody>
        <% for (var i in students) { var student = students[i]; %>
        <tr>
            <td><%= student.rosterID %></td>
            <td><%= student.firstName %></td>
            <td><%= student.lastName %></td>
            <td><%= student.loginID %></td>
            <td><%= student.password %></td>
            <td><%= student.condition %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<button id="new-student-button">Add new student</button>

<div id="new-student-dialog" title="Create new student">
    <form class="vertical">
        <label>
            Roster ID
            <input type="text" name="rosterID">
        </label>
        <label>
            First Name
            <input type="text" name="firstName">
        </label>
        <label>
            Last Name
            <input type="text" name="lastName">
        </label>
        <label>
            Login ID
            <input type="text" name="loginID">
        </label>
        <label>
            Password
            <input type="text" name="password">
        </label>
        <label>
            Condition
            <select name="condition">
                <% for (var i in conditions) { var condition = conditions[i]; %>
                <option value="<%= condition %>"><%= condition %>
                <% } %>
            </select>
        </label>
    </form>
</div>
