<script type="text/javascript" language="javascript" src="js/client/lib/jquery.dataTables/jquery.dataTables.min.js"></script>
<style type="text/css">
    @import "js/client/lib/jquery.dataTables/css/demo_table_jui.css";
</style>

<script type="text/javascript" language="javascript">
    window.FLUENCY.isAdmin = <%- instructor.isAdmin %>;
</script>

<h2>Instructor Administration</h2>

<p>Welcome <%= loginID %>!

<% if (instructor.isAdmin) { %>
<p>You have admin privileges. You will see all instructor's students below.
<% } %>

<h3>Students</h3>

<table id="student-table" class="display">
    <thead>
        <tr>
            <% if (instructor.isAdmin) { %>
                <th>Instructor
            <% } %>
            <th>Roster
            <th>First Name
            <th>Last Name
            <th>Login
            <th>Password
            <th>Condition
            <th>Games
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<button id="new-student-button">Add new student</button>
<button id="csv-upload-button">Upload roster</button>

<h3>Game Results</h3>

<table id="games-table" class="display">
    <thead>
        <tr>
            <th>Roster
            <th>Login
            <th>Condition
            <th>Level
            <th>Question Set
            <th>Score
            <th>Medal
            <th>Duration
            <th>End Date
            <th>Data File
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Game Output XML</h3>
<textarea id="game-output" readonly>
</textarea>

<div id="new-student-dialog" title="Create new student">
    <form class="vertical">
        <label>
            Roster ID
            <input type="text" name="rosterID">
        </label>
        <label>
            First Name
            <input type="text" name="firstName">
        </label>
        <label>
            Last Name
            <input type="text" name="lastName">
        </label>
        <label>
            Login ID
            <input type="text" name="loginID">
        </label>
        <label>
            Password
            <input type="text" name="password">
        </label>
        <label>
            Condition
            <select name="condition">
                <% for (var i = 0; i < conditions.length; i++) { var condition = conditions[i]; %>
                <option value="<%= condition %>"><%= condition %></option>
                <% } %>
            </select>
        </label>
    </form>
</div>

<div id="csv-upload-dialog" title="Upload Roster CSV File">
    <form class="vertical" method="post" action="<%= csvUploadURL %>" enctype="multipart/form-data">
        <p>The first 4 columns should be:</p>
        <ol>
            <li>Roster ID
            <li>Login ID
            <li>Last name
            <li>First name
        </ol>
        <p>The first line will be skipped; the column names in the header are ignored.</p>
        <label>
            File
            <input type="file" name="file">
        </label>
        <label>
            Condition
            <select name="condition">
                <% for (var i = 0; i < conditions.length; i++) { var condition = conditions[i]; %>
                <option value="<%= condition %>"><%= condition %></option>
                <% } %>
            </select>
        </label>
        <% if (instructor.isAdmin) { %>
            <label>
                Instructor
                <select name="instructorID">
                <% for (var i = 0; i < instructors.length; i++) { var inst = instructors[i]; %>
                    <option value="<%= inst.id %>"><%= inst.loginID %></option>
                <% } %>
                </select>
            </label>
        <% } %>
    </form>
</div>
