<!DOCTYPE html>
<html>
    <head>
        <title>Math Fluency Test Harness</title>
        <script src="https://www.google.com/jsapi?key=ABQIAAAA2zbAPR2GJ53FDQrMbIGDPRTlDVfVWqzmAhk-xpkMNLu4YitI6hRTUbGps5gTfgAUgQH2zqQTfoRxTQ" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css"/>
        <script src="<%= rootPath %>/js/node_modules/yabble/lib/yabble.js" type="text/javascript"></script>
        <script type="text/javascript">
            window.FLUENCY = {
                rootPath: '<%= rootPath %>'
            };
            require.run('<%= rootPath %>/js/<%= mainjs %>');
        </script>
        <link rel="stylesheet" type="text/css" href="<%=rootPath%>/css/style.css"/>
    </head>
    <body>
        <div id="header">
            <div class="logo"></div>
            <div class="login-info">
            <% if (loginID) { %>
                <%= loginID %> |
                <a href="<%= logoutURL %>">Sign out</a>
            <% } %>
            </div>
        </div>
        <div id="content">
            <%- body %>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
