<script type="text/javascript" language="javascript">
    window.FLUENCY.formData = <%- JSON.stringify(formData) %>;
</script>

<style type="text/css">
    dl.meta {
        background: #eee;
        border: #666;
    }
    dl.meta dt {
        float: left;
        width: 100px;
        font-weight: bold;
    }
</style>

<h2>Roster Upload Confirmation</h2>

<dl class="meta">
    <dt>File
    <dd><%= file %>
    <dt>Instructor
    <dd><%= instructor.loginID %>
    <dt>Condition
    <dd><%= condition %>
</dl>

<table id="roster-upload-table">
    <thead>
        <tr>
            <th>Roster ID
            <th>First Name
            <th>Last Name
            <th>Login
            <th>Password
            <th>Condition
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < students.length; i++) { var student = students[i]; %>
        <tr>
            <td><%= student.rosterID %>
            <td><%= student.firstName %>
            <td><%= student.lastName %>
            <td><%= student.loginID %>
            <td><%= student.password %>
            <td><%= student.condition %>
        </tr>
        <% } %>
    </tbody>
</table>

<button id="confirm-button">Confirm new students</button>

